:root {
  --bg-nav-bar: #1B2330;
  --bg-hv-nav-bar: #324158;
  --fg-hv-nav-bar: #fff;

  --bg-content: #f2f3f4;

  --gap: 8px;
}

.navbar {
  --clr-primary-400: var(--bg-nav-bar);
}

.navbar .nav-link:hover {
  background-color: var(--bg-hv-nav-bar);
  border-color: var(--bg-hv-nav-bar);
}

.notification-area {
  --clr-primary: var(--bg-nav-bar);
}

.notification-area .btn.btn-primary:hover {
  background-color: var(--bg-hv-nav-bar);
}

.row {
  row-gap: 8px;
}

.col,
.col-md-6,
.col-lg-4 {
  padding-inline: 15px !important;
}

.grid {
    display: grid;
    grid-template-columns: auto 33%;
    grid-template-rows: auto auto;
    grid-row-gap: 1px;
    grid-column-gap: 9px;
}

.grid .head {
    grid-column-start: span 2;
}


.big-icon {
    font-size: 20px !important;
}

.box .box-title {
    scrollbar-gutter: stable;
}

.box-title h3 {
	overflow: hidden;
	hyphens: auto;
}

.box-title__actions {
	display: flex;
}

.header {
    font-weight: bold;
    background: #f6f6f6;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #555;
    overflow-y: auto;
    scrollbar-gutter: stable;

}

.relation-row {
    display: grid;
    grid-template-columns: 1fr 1fr 80px 40px;
    grid-template-rows: auto;
    margin-bottom: 12px;
}

.sources {
    padding-left: 0px;
    padding-right: 0px;
    max-height: 500px;
    margin-top: -10px;

    overflow-y: auto;
    scrollbar-gutter: stable;
}

.cell--action {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.nobackground {
    background: #fff !important;
    padding: 0px 2px;
}

.big-icon {
    font-size: 20px !important;
    margin-inline-end: 0.5rem;
}

.box.box--outline {
  color: var(--box-color);
  border-color: var(--box-color);
}

.box.box-bordered {
  margin-bottom: var(--gap);
}

.box .box__title {
	display: flex;
  justify-content: space-between;
	align-items: baseline;
	background-color: #fff !important;
  margin: 0;
  padding: 7px 10px;
}

.box .box__title::after {
    display: none;
}

.box .box__title h3 {
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin: 0;
}

.box .box__title h3 span {
    margin: 0;
    min-width: 24px;
    max-width: 24px;
}

.box .box__body {
  background: white;
}

.searchField {
    border: 1px solid #ccc;
    height: 25px;
    font-size: 13px;
    padding: 2px 12px;
    background: #fff !important;
    color: #333;
    line-height: 1.42857143;
    display: inline-block;
    margin-right: 10px;
}

/* content background color */
body,
#main,
#main .container-fluid,
.breadcrumb-container button,
.breadcrumb-container .breadcrumb-label
{
  background-color: var(--bg-content) !important;
}

.btn.btn-mini {
  line-height: 1.5;
  padding: 1px 3px;
}

.btn-mini .fa {
  font-size: 14px;
}

/* Override styles.css */
.btn:hover {
	background: transparent;
}
/* COMPONENTS */

/* Nav-Bar */
#navigation {
  background-color: var(--bg-nav-bar);
}

#navigation a:focus,
#navigation a:hover,
#navigation a:active,
#navigation .btn:focus,
#navigation .btn:hover,
#navigation .btn:active {
   /* Override very specific styles in `intranda.css` + `styles.css` */
   background-color: var(--bg-hv-nav-bar) !important;
   color: var(--fg-hv-nav-bar);
}

/* Override styles.css */
#navigation .dropdown-menu {
  border-color: var(--bg-nav-bar);
}

#navigation .main-nav > li.active:hover > a {
    color: #fff;
}

/* Mobile nav */
#navigation .mobile-nav.open {
  background-color: var(--bg-hv-nav-bar);
  border-color: var(--bg-hv-nav-bar);
}

#navigation .mobile-nav.open > li > ul,
#navigation .mobile-nav.open > li > a {
  background-color: var(--bg-nav-bar);
  border-color: var(--bg-hv-nav-bar);
}

#navigation a#brand:focus,
#navigation a#brand:hover,
#navigation a#brand:active {
  background-color: var(--bg-nav-bar) !important;
}








@media only screen and (max-width: 1440px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 1px;
        grid-column-gap: 9px;
    }
    .grid .head {
        grid-column-start: span 1;
    }
    .right {
        display: none;
    }
}
